.banner {
  background: #fff url('../assets/img/banner-cogumelo-mario.png') no-repeat
    center / cover;
  display: flex;
  flex-direction: column;
  height: 19.2rem;
  justify-content: end;
  padding: 1.6rem;
}

.banner__titulo {
  color: white;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.banner__texto {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.banner__botao {
  background-color: var(--azul-alura);
  border: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  height: 4rem;
  padding: 1.2rem 1.6rem;
  width: 11.9rem;
}

@media screen and (min-width: 768px) {
  .banner {
    height: 35.2rem;
    padding: 3.2rem;
  }

  .banner__titulo {
    font-size: 5.2rem;
    margin-bottom: 1.6rem;
  }

  .banner__texto {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 35.2rem;
    padding: 3.2rem 15.2rem;
  }
}
