.login {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
}

.login__titulo {
  color: #464646;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 9.7rem;
  margin-bottom: 1.6rem;
}

.login__form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login__form__input-email,
.login__form__input-senha {
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 0.4rem;
  padding-inline: 1.2rem;
  height: 4.1rem;
  margin-bottom: 1.6rem;
  width: 27.5rem;
}

.login__form__input-email::placeholder,
.login__form__input-senha::placeholder {
  color: #a2a2a2;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.login__form__botao {
  background-color: var(--azul-alura);
  border: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  height: 4rem;
  margin-bottom: 7.6rem;
  width: 10.9rem;
}

@media screen and (min-width: 768px) {
  .login__titulo {
    margin-top: 4.5rem;
  }

  .login__form__botao {
    margin-bottom: 6.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .login__titulo {
    font-size: 1.8rem;
    margin-top: 9.2rem;
  }

  .login__form__input-email,
  .login__form__input-senha {
    height: 6.313rem;
    width: 42.3rem;
  }

  .login__form__botao {
    font-size: 1.8rem;
    height: 6.2rem;
    margin-bottom: 9.1rem;
    width: 42.3rem;
  }
}
