.menu {
  align-items: center;
  display: flex;
  height: 7.2rem;
  justify-content: space-between;
  padding: 1.6rem;
}

.menu__botao {
  background: none;
  border: 1px solid var(--azul-alura);
  color: var(--azul-alura);
  font-size: 1.4rem;
  font-weight: 600;
  height: 100%;
  transition: background-color 0.5s;
  width: 13.3rem;
}

.menu__botao-admin {
  background: none;
  border: 1px solid var(--azul-alura);
  color: var(--azul-alura);
  font-size: 1.4rem;
  font-weight: 600;
  height: 100%;
  transition: background-color 0.5s;
  width: 16.6rem;
}

.menu__botao:hover {
  background-color: #d4e4fa;
}

.menu__pesquisa {
  display: none;
  visibility: hidden;
}

.menu__pesquisa-input {
  display: none;
  visibility: hidden;
}

.menu__pesquisa-input::placeholder {
  color: #a2a2a2;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.menu__lupa-desktop {
  display: none;
  visibility: hidden;
}

/* apenas no todos-produtos.html */
.menu-todos-produtos {
  height: 6rem;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 1.6rem 3.2rem;
  }

  .menu__botao {
    order: +1;
    width: 16.6rem;
  }

  .menu__lupa {
    display: none;
    visibility: hidden;
  }

  .menu__pesquisa-label {
    display: initial;
    position: absolute;
    margin-left: 13.2rem;
    visibility: visible;
  }

  .menu__pesquisa-input {
    border: none;
    background-color: #f5f5f5;
    border-radius: 2rem;
    color: #a2a2a2;
    display: initial;
    height: 4rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.8rem 1.6rem;
    visibility: visible;
    width: 27.2rem;
  }

  .menu__lupa-desktop {
    bottom: 0;
    display: initial;
    left: 23.2rem;
    position: absolute;
    top: 0.8rem;
    visibility: visible;
  }

  /* apenas no todos-produtos.html */
  .menu-todos-produtos {
    height: 7.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    height: 11.5rem;
    padding: 3.2rem 15.2rem;
  }

  .menu__botao {
    width: 18.2rem;
  }

  .menu__logo-alura {
    height: 5rem;
    width: 17.6rem;
  }

  .menu__pesquisa-label {
    margin-left: 20.8rem;
  }

  .menu__pesquisa-input {
    width: 39.3rem;
  }

  .menu__lupa-desktop {
    left: 35.3rem;
  }
}
