.rodape {
  align-items: center;
  background-color: #eaf2fd;
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
}

.rodape__logo-alura {
  margin-bottom: 1.6rem;
}

.rodape__lista {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 1.6rem;
}

.rodape__lista__item {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.rodape__lista__item__link {
  color: #464646;
  text-decoration: none;
}

.rodape__titulo__form {
  align-self: flex-start;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.rodape__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rodape__form__input-nome-placeholder {
  border: none;
  border-radius: 0.4rem 0.4rem 0 0;
  color: #a2a2a2;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.8rem 1.2rem 0 1.2rem;
}

.rodape__form__input-nome {
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 0 0 0.4rem 0.4rem;
  color: #464646;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  height: 3.1rem;
  margin-bottom: 1.6rem;
  padding: 0.4rem 1.2rem 0.7rem 1.2rem;
}

.rodape__form__textarea {
  border: none;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 0.4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  padding: 1.6rem 1.2rem;
  resize: vertical;
}

.rodape__form__textarea::placeholder {
  color: #a2a2a2;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.rodape__form__input-nome-placeholder:focus,
.rodape__form__input-nome:focus,
.rodape__form__textarea:focus {
  outline: none;
}

.rodape__form__botao {
  background-color: var(--azul-alura);
  border: none;
  color: white;
  height: 4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  width: 15.1rem;
}

.rodape__desenvolvedor {
  background-color: white;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 3.2rem;
  text-align: center;
  width: 100vw;
}
