.todos-produtos {
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3.2rem;
}

.todos-produtos__cabecalho__titulo {
  color: #464646;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.todos-produtos__cabecalho__botao {
  border: none;
  background-color: var(--azul-alura);
  color: white;
  height: 4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  width: 15.1rem;
}

.todos-produtos__produto__imagem {
  position: relative;
}

.todos-produtos__produto__imagem__foto {
  height: 17.4rem;
  margin-bottom: 0.8rem;
  object-fit: cover;
  width: 14rem;
}

.todos-produtos__produto__imagem__lixeira {
  position: absolute;
  top: 0.8rem;
  left: 6.8rem;
}

.todos-produtos__produto__imagem__lapis {
  position: absolute;
  top: 0.8rem;
  left: 10.8rem;
}

.todos-produtos__produto__nome {
  color: #464646;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.todos-produtos__produto__preco {
  color: #464646;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.todos-produtos__produto__codigo {
  color: #464646;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 768px) {
  .todos-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.6rem;
  }

  .todos-produtos__cabecalho {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    grid-column: 1 / 5;
  }

  .todos-produtos__cabecalho__titulo,
  .todos-produtos__cabecalho__botao {
    margin-bottom: 0;
  }

  .todos-produtos__produto__imagem__foto {
    width: 100%;
  }

  .todos-produtos__produto__imagem__lixeira {
    left: 9.2rem;
  }

  .todos-produtos__produto__imagem__lapis {
    left: 13.2rem;
  }

  .todos-produtos__produto__codigo {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .todos-produtos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 6.4rem 15.2rem 1.6rem 15.2rem;
  }

  .todos-produtos__cabecalho {
    height: 5.1rem;
    grid-column: 1 / 7;
    row-gap: 1.6rem;
  }

  .todos-produtos__cabecalho__titulo {
    font-size: 3.2rem;
  }

  .todos-produtos__cabecalho__botao {
    height: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    width: 16.4rem;
  }

  .todos-produtos__produto {
    margin-bottom: 4.8rem;
  }
}
